.App-header {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: purple;
}

.App-title {
  background-color: blue;
}

.App-link {
  color: purple;
}

