.App-header {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: purple;
}

.App-title {
  background-color: blue;
}

.App-link {
  color: purple;
}

.home-page-title {
  margin-left: 10px;
}

.subtitle {
  text-align: center;
}

.subtitle h2 {
  font-weight: bolder;
}
