/* .user-info-wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
}

.user-info {
    background-color: whitesmoke;
    width: 100px;
    margin: 10px;
    text-align: left;
    line-height: 70px;
    font-size: 18px;

}  */

/* .user-info {
    margin: 15px;
    background-color: red;
} */

/* .user-info {
    background-color: blue;
} */

/* .user-data {
    background-color: red;
} */

.top {
    margin-bottom: 0;
}

.user-info-wrapper {
    margin-bottom: 15px;
    border: 1px solid black;
    width: 300px;
    margin-left: 10px;

}